.container {
    padding-top: 6px;
    border: 0px solid #245798;
    margin: 11px auto;
    border-radius: 13px;
    /* background-image: linear-gradient(270deg, #6792473b, transparent); */
}
.bor-post {
    border: 1px solid #fff;
    box-shadow: 1px 1px 3px 2px #b9b9b9ab;
    background-image: linear-gradient(270deg, #6792473b, transparent);
}
.heading {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 900;
}
.content {
    /* margin-top: 0;
    margin-bottom: 1rem; */
    margin: auto 0px;
    text-align: center;
    padding: 3px;
    font-size: larger;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
}
.hash {
    background: none;
    display: flex;
    margin: auto 16px;
}
.cont-reaction {
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    border: 0px solid #245798 !important;
}
/* ////////scotch.js/////////// */
.hreff {
    display: 'flex';
    justify-content: 'center';
}

.prag {
    width: 'max-content';
    display: 'flex';
    margin: '15px';
    background: 'rgb(15,14,28)';
}
.linkk {
    color: '#40A8F3';
    text-decoration: 'none';
    display: 'inline-block';
    padding: '0 0 3px';
    border-bottom: '2px solid #40A8F3';
}
