.register-form {
    direction: rtl;
}
.form-div > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-div > div {
    display: flex;
    gap: 30px;
}

.form-div > div div {
    margin-block: 10px;
    flex: 1;
}
.form-div div input {
    border: 1px solid rgba(0, 0, 0, 0.386);
    padding: 7px 10px;
    border-radius: 5px;
}

@media (max-width: 550px) {
    .form-div > div {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}
