.login-with-google-btn {
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 12px 16px 12px 42px;
    border: none;
    display: flex;
    border-radius: 3px;
    box-shadow: 3px 12px 20px 0px rgb(0 0 0 / 4%), 0 1px 1px rgb(0 0 0 / 31%);
    color: #757575;
    font-size: 17px;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: 12px 11px;
}
.login-with-google-btn img {
    width: 30px;
}
.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
    background-color: #eee;
}
.login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
        0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .login-with-google-btn {
        font-size: 14px;
    }
}
